default/flows/Add_Case_to_a_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>QueueDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IT_Queue</stringValue>
        </value>
    </constants>
    <interviewLabel>Add Case to a Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Case to a Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>QueueName</name>
        <label>QueueName</label>
        <locationX>357</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OwnerId_of_Case</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDevName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>QueueRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_OwnerId_of_Case</name>
        <label>Set OwnerId of Case</label>
        <locationX>426</locationX>
        <locationY>436</locationY>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00001029</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>QueueName</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>QueueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
